*{
    box-sizing: border-box;
    border: 1px dashed grey;
}

html, body{
    height: 100%;
}
/*Body section styling*/

/*Had issues with specificity on styling*/
a {
    text-decoration: none;
    color: #2C2C2C;
}
.ft-sec-ftextah{
    color: red;
}
#hd-hm-link{
    color: red;
}

    /*Header section styling*/
    .hr-sec{
        display: flex;
        width: 100%;
        background-color: #F7F7F7;
        position: fixed;
    }
        /*Inner Header styling*/
        .hr-sec-nav{
            margin: 0 auto;
            border-top: 6px solid red;
            width: 960px;
            display: flex;
        }
        .hr-sec-nav1{
            flex: 3;
        }
        .hr-sec-nav2{
            flex: 8;
        }
        .nav-list{
            display: inline-block;
            /*margin: 10px;*/
            padding: 30px 5px;
        }
        .nav-list:hover{
            background-color: rgb(128,128,128);
            background-color: rgba(128 ,128 ,128, 0.5);
        }
        .nav{
            margin: 0;
            /*padding-top: 15px;*/
            padding-left: 0;
            transition: all 10s ease;
        }
        .hr-sec-nav3{
            flex: 1;
        }
        .src-icon{
            height: 12px;
            margin: 30px;
        }
        /*Footer section styling*/
        .ft-sec{
            margin: 10px auto;
            color: #494949;
            font-size: 15px;
            width: 920px;
            text-align: left;
        }
            /*Internal footer section styling*/
            .ft-sec-ftexta{
                float: left;
                padding-right: 20px;
            }
            h4{
                margin-top: 0;
            }
            .ft-sec-ftextb > p{
                columns: 3;
            }
            /*.ft-sec-ftexta > h4{
                color: #FF2424;
            }*/
            p > a{
                text-decoration: none;
                color: #B4B4B4;
                border-bottom: 2px solid #B4B4B4;
            }

    /*Main section styling*/
    .mn-sec{
        text-align: center;
        margin: 40px;
        color: #494949;
    }
        /*Internal main section styling*/
            .mn-sec-intro{
                font-size: 20px;
                font-weight:lighter;
                padding-top: 30px;
                padding-bottom: 30px;
                margin: 10px auto 20px auto;
                width: 960px;
            }
            .mn-sec-gal{
                margin: auto;
                width: 940px;
                display: flex;
            }
            /*This is the area for the gallery boxes*/
                .gal-col1t, .gal-col1bl, .gal-col1br, .gal-col-2t, .gal-col2b{
                    transition: all 1s ease;
                    opacity: 1;
                }
                .gal-col1t:hover, .gal-col1bl:hover, .gal-col1br:hover, .gal-col-2t:hover, .gal-col2b:hover{
                    opacity: .3;
                }
                .gal-col1{
                    display: flex;
                    flex-direction: column;
                    padding-right: 5px;
                }
                /*This is internal area of gallery column 1*/
                    .gal-col1t{
                        flex: 2;
                        padding-bottom: 5px;
                    }
                    .gal-col1b{
                        display: flex;
                    }
                    /*This is the internal area for the gallery column 1 bottom section*/
                        .gal-col1bl{
                            flex: 1.2;
                            padding-right: 5px;
                        }
                        .gal-col1br{
                            flex: 1.8;
                        }
                .gal-col2{
                    display: flex;
                    flex-direction: column;
                /*This is internal area of gallery column 1*/
                .gal-col-2t{
                    flex: 2;
                    padding-bottom: 12px;
                    }
                .gal-col2b{
                    padding-top: 10px;
                }

/*This section is for special styling*/
