*{
    box-sizing: border-box;
    border: 1px dashed grey;
}
img{
    /*This allowed the images to fill parent size to 100%*/
    width: 100%;
}
body{
    display: flex;
    /*centers the content within the flex parent*/
    justify-content: center;

    align-items: center;
}
html, body {
    /*This allowed the html and body to take 100% of viewport area...Only use with body and html elements*/
    height: 100%;
}

.grid{
    /*margin: 0 auto;
    margin-top: 50px; -> Example of why using margin is not good to center horizontally*/
    /*max-width: 960px;*/
    max-width: 600px;
    display: flex;
    /*flex-direction: column; -> This is used to change the direction of the grid from row to columns...Good for mobile*/
    /*align-items: center;*/
}
.col{
    flex: 1;
    background-color: rgb(192, 228, 191);
    transition: all 1s ease;
    opacity: 1;
}
.col:hover{
    /*flex:5; -> Created effect that expanded the columns to size 5 when hovering*/
    opacity: .1;
}
.col:first-child{
    background-color: rgb(215, 161, 161);
    /*visibility: hidden; -> This hides visual but maintains physical space*/
    /*display: none; -> This acts as if the code was not even there*/
    /*opacity: 0;*/
}
.col:last-child{
    background-color: rgb(210, 226,255);
}
